.container {
  display: flex;            /* 启用 Flexbox 布局 */
  flex-direction: row;      /* 子元素水平排列 */
  height: 100vh;            /* 占满屏幕高度 */
  width: 100%;              /* 占满屏幕宽度 */
}

.leftPanel {
  margin-right: 20px;
  width: 25%;               /* 占据 25% 的宽度 */
  height: 95%;             /* 高度占满容器 */
  background-color: #f7f7f7; /* 可选：浅灰色背景 */
  border-radius: 16px;
  padding: 10px;
}

.chatContainer {
  flex-grow: 1;             /* 占据剩余空间 */
  display: flex;            /* 内部依然使用 Flexbox 布局 */
  flex-direction: column-reverse; /* 消息区域从下往上排列 */
  height: 100%;             /* 高度占满容器 */
}


.inputForm {
  display: flex;
  width: 100%;
  padding: 10px;
  padding-bottom: 40px;
  order: 1;
}

.input {
  flex-grow: 1;
  padding: 16px 24px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 60px;
  border: 2px solid transparent;
  font-size: 1em;
  background-color: #efefef;
}

.input:focus {
  outline: none !important;
  border-color: #000;
  background-color: white;
}

.button {
  padding: 8px 24px;
  background-color: #000;
  color: white;
  border: none;
  font-size: 1em;
  border-radius: 60px; /* Removed duplicate border-radius property */
}

.button:disabled {
  background-color: lightgrey;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  order: 2;
  white-space: pre-wrap;
}

.userMessage,
.assistantMessage,
.codeMessage {
  margin: 8px 0;
  padding: 8px 16px;
  align-self: flex-start;
  border-radius: 15px;
  max-width: 80%;
  overflow-wrap: break-word;
}

.assistantMessage img {
  max-width: 100%;
  margin: 8px 0px 8px 0px;
  border-radius: 8px;
}

.userMessage {
  align-self: flex-end;
  color: #fff;
  background-color: #000;
}

.assistantMessage {
  background-color: #efefef;
}

.codeMessage {
  padding: 10px 16px;
  background-color: #e9e9e9;
  font-family: monospace;
  counter-reset: line;
}

.codeMessage > div {
  margin-top: 4px;
}

.codeMessage span {
  color: #b8b8b8;
  margin-right: 8px;
}

.newChatBtn {
  background-color: #000;        /* Black background */
  color: white;                  /* White text */
  padding: 8px 24px;             /* Button padding */
  border-radius: 60px;           /* Rounded button shape */
  text-align: center;            /* Center-align text */
  display: inline-block;         /* Inline-block layout */
  cursor: pointer;               /* Indicate it's clickable */
}